body {
    background: #08c;
    background-image: linear-gradient(to bottom right, #0088ff00, #8c00ffcc),
        url("/textures/plaid_noise.png"), url("/textures/plaid.png");
    animation: plaid-scroll 24s infinite forwards linear;
    background-size: 100vw 100vh, 128px 128px, 128px 128px;
    background-attachment: fixed;
    background-blend-mode: hue, normal, normal;

    transform: rotate(1turn);

    font-family: "Manrope", sans-serif;
    
    margin: 0;
}

@keyframes plaid-scroll {
    from {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    } to {
        background-position: 0px 0px, 256px 128px, 128px 128px;
    }
}

main {
    box-sizing: border-box;
    width: 100vw;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

header, article {
    box-sizing: border-box;
    background: #ffffff66 url("/textures/noise.png");
    background-blend-mode: multiply;
    color: #333;

    backdrop-filter: blur(6px);

    width: 40em;
    max-width: calc(100% - 2em);
    padding: 1em;

    border: 2px #84c4ff solid;
    border-radius: 0.4em;

    box-shadow: #1414ff88 0 0.5em 1em;
}

header {
    width: 30em;
    max-width: calc(100% - 2em);
}

h1, h2, h3 {
    color: #222;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

    text-align: center;
}

p {
    padding-left: 1em;
    padding-right: 1em;

    font-size: 1.1em;
}

h1#my-name {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

p#pronunciation {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}


/* #region social buttons */
a.social {
    border: #a4deff 1px solid;
    background: #a4deff66;
    box-shadow: #00000000 0 0 0.5em;
    display: inline-block;

    padding: 0.25em;
    border-radius: 0.2em;
     
    margin: 0;
    transition: transform 0.2s cubic-bezier(.65,.91,.46,1.01), box-shadow 0.2s cubic-bezier(.65,.91,.46,1.01);
}

a.social div {
    display: block;
    width: 1.5em;
    height: 1.5em;

    background-color: var(--social-color);
    mask-size: 1.5em 1.5em !important;
}

a.social:focus-visible {
    outline: 2px #08f solid;
    outline-offset: -1px;
}

a.social:hover, a.social:focus-visible { 
    border: #dddddd00 1px solid !important;
    box-shadow: #00000066 0 0.2em 0.5em;

    background: var(--social-color);
    transform: scale(1.2);
}

a.social:hover div, a.social:focus-visible div { 
    background: #fff;
}
/* #endregion */

span.status {
    font-size: 1.1em;
}

span.status span.display {
    display: inline-block;

    padding: 0 0.5ch;
    margin-left: 0.2ch;
    border-radius: 0.2em;
    border: solid 1px #000000aa;

    font-family: "DM Mono", monospace;
}

span.time {
    font-family: "DM Mono", monospace;
}

a.badge {
    max-height: 31px;
}

a.badge img {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
    object-fit: cover;
}